#banner-desktop-device {
  display: block;
  width: 300px;
  height: 250px;
  box-sizing: content-box;
  margin: auto;
  border: 1px solid black;
  overflow: hidden;
  animation: animater 200s ease-in-out 10s;
}

.banner-slide {
  display: none;
  //animation-duration: 20s;
}
.w3-animate-fading{
    animation-delay: 40s;
}

  @keyframes animater {
    0% {
      right: -300px;
      opacity: 1;
    }
    50% {
      right: 0px;
      opacity: 1;
    }
  }

.w3-animate-right {
  position: relative;
  animation: animateright 3s ease-in-out;
}
@keyframes animateright {
  0% {
    right: -300px;
    opacity: 0;
  }
  50% {
    right: 0px;
    opacity: 1;
  }
}

.w3-animate-slow-right {
    position: relative;
    animation: animateslowright 3s ease-in-out  ;
    animation-fill-mode: forwards;
    
  }
  @keyframes animateslowright {
    0% {
      right: -200px;
      //opacity: 0;
      //width: 300px;
    }
    
    40% {
      right: 0px;
      //opacity: 1;
      //width: 50px;
    }
    
    100%{
        right:300px;
    }
  }

  .w3-animate-1-right {
    position: relative;
    animation: animateslowright1 3s ease-in-out  ;
    animation-fill-mode: forwards;
    
  }
  @keyframes animateslowright1 {
    0% {
      right: -300px;
      //opacity: 0;
      //width: 300px;
    }
    
    40% {
      right: 0px;
      //opacity: 1;
      //width: 50px;
    }
    
    //  90%{
    //      right: 100px;
    //  } 
     
    // 100%{
    //     right:300px;
    // }
  }


.w3-animate-zoom-right {
  position: relative;
  animation: animatezoomright 3s ease-in-out;
}
@keyframes animatezoomright {
  0% {
   // right: -300px;
    transform: scale(1);
    opacity: 0.5;
  }
  50% {
   // right: 100px;
    transform: scale(1.5);
    opacity: 1
  }
//   90% {
//    // right: 0px;
//     opacity: 1;
//     transform: scale(1);
//   }
}




